---
import PageLayout from "../../layouts/PageLayout.astro";

export { getStaticPaths } from "../../variants.ts";

const variant: string = Astro.props.variant;
---

<PageLayout {variant}>
  <h1>Variant: {variant}</h1>
</PageLayout>