---
import PageLayout from "../../layouts/PageLayout.astro";
import type { Variant } from "../../variants.ts";

export { getStaticPaths } from "../../variants.ts";

const variant: Variant = Astro.props.variant;
---

<PageLayout {variant}>
  <h1>Variant: {variant.getId()}</h1>
</PageLayout>