---
import Navbar from "../../components/Navbar.astro";
import PlainLayout from "../../layouts/PlainLayout.astro";
import type { Variant } from "../../variants.ts";

export { getStaticPaths } from "../../variants.ts";

const variant: Variant = Astro.props.variant;
---

<PlainLayout>
  <Navbar variant={variant}/>
  <h1>Variant: {variant.getId()}</h1>
</PlainLayout>