---
import { getAsset } from "../../assets.ts";
import MemberCard from "../../components/MemberCard.astro";
import PageLayout from "../../layouts/PageLayout.astro";

export { getStaticPaths } from "../../variants.ts";

const variant: string = Astro.props.variant;

type Member = { name: string, img: string };
const membersObj = await getAsset(`members/${variant}.json`);
const members: Member[] = membersObj.members;
members.sort((a, b) => a.name > b.name ? 1 : -1);
---

<PageLayout {variant}>
  <div class="card-container">
    {members.map(({ name, img }) => (
      <MemberCard name={name} src={getAsset(`members/${img}`)}/>
    ))}
  </div>
</PageLayout>

<style>
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0 16px;
    gap: 16px;
  }
</style>
