---
import { getAsset } from "../../assets.ts";
import EventCard from "../../components/EventCard.astro";
import PageLayout from "../../layouts/PageLayout.astro";

export { getStaticPaths } from "../../variants.ts";

const variant: string = Astro.props.variant;

type Event = { title: string, location: string, date: string, time: string };
const eventsObj = await getAsset(`events/${variant}.json`);
const events: Event[] = eventsObj.events;
---

<PageLayout {variant}>
  <div class="card-container">
    {events.map(pEvent => <EventCard {...pEvent}/>)}
  </div>
</PageLayout>

<style>
  .card-container {
    display: flex;
    gap: 8px;
    margin: 0 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>