---
import { Icon } from "astro-icon/components";

interface Props {
  title: string,
  location: string,
  date: string,
  time: string
}

const { title, location, date, time } = Astro.props;
---

<div class="card">
  <span class="title">{title}</span>
  <span><Icon name="marker"/> {location}</span>
  <span><Icon name="calendar"/> {date}</span>
  <span><Icon name="clock"/> {time}</span>
</div>

<style>
  .card {
    border: 4px solid var(--primary-color);
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    padding: 8px;
  }

  .title {
    font-weight: bold;
  }
</style>