---
import Navbar from "../components/Navbar.astro";
import PlainLayout from "./PlainLayout.astro";

interface Props {
  variant: string;
}

const { variant } = Astro.props;
---

<PlainLayout {variant}>
  <Navbar {variant}/>
  <div class="content">
    <slot/>
  </div>
</PlainLayout>

<style>
  .content {
    justify-self: center;
    max-width: 1000px;
  }
</style>