---
import Navbar from "../components/Navbar.astro";
import type { Variant } from "../variants.ts";
import PlainLayout from "./PlainLayout.astro";

interface Props {
  variant: Variant;
}

const { variant } = Astro.props;
---

<PlainLayout>
  <Navbar {variant}/>
  <div class="content">
    <slot/>
  </div>
</PlainLayout>

<style>
  .content {
    margin: 1em 4em 0 4em;
  }
</style>